In [1]:
# Leave commented out unless you recieve and error that you do not have psycopg2 installed.

# import sys
# import subprocess

# try:
#    import psycopg2-
# except ImportError:
#     subprocess.check_call([sys.executable, "-m", "pip", "install", "--user", "psycopg2-binary"])
#     import psycopg2

# print(psycopg2.__version__)

In [2]:
import pandas as pd
from sqlalchemy import create_engine, text
import matplotlib.pyplot as plt

In [3]:
database_name = 'prescribers'   

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [4]:
engine = create_engine(connection_string)

In [5]:

query = """

SELECT 
    * 
FROM 
    prescriber

"""

In [6]:
with engine.connect() as connection:
    result = connection.execute(text(query))
    prescriber = pd.DataFrame(result.fetchall(), columns=result.keys())

In [7]:
prescriber.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25050 entries, 0 to 25049
Data columns (total 17 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   npi                           25050 non-null  object
 1   nppes_provider_last_org_name  25049 non-null  object
 2   nppes_provider_first_name     25050 non-null  object
 3   nppes_provider_mi             19245 non-null  object
 4   nppes_credentials             23827 non-null  object
 5   nppes_provider_gender         25050 non-null  object
 6   nppes_entity_code             25050 non-null  object
 7   nppes_provider_street1        25050 non-null  object
 8   nppes_provider_street2        9790 non-null   object
 9   nppes_provider_city           25050 non-null  object
 10  nppes_provider_zip5           25050 non-null  object
 11  nppes_provider_zip4           21568 non-null  object
 12  nppes_provider_state          25050 non-null  object
 13  nppes_provider_country        25050 non-null  object
 14  specialty_description         25050 non-null  object
 15  description_flag              25050 non-null  object
 16  medicare_prvdr_enroll_status  25050 non-null  object
dtypes: object(17)
memory usage: 3.2+ MB

In [8]:
prescriber.head()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,nppes_provider_zip5,nppes_provider_zip4,nppes_provider_state,nppes_provider_country,specialty_description,description_flag,medicare_prvdr_enroll_status
0,1003000282,BLAKEMORE,ROSIE,K,FNP,F,I,TENNESSEE PRISON FOR WOMEN,3881 STEWARTS LANE,NASHVILLE,37243,0001,TN,US,Nurse Practitioner,S,N
1,1003012022,CUDZILO,COREY,None,M.D.,M,I,2240 SUTHERLAND AVE,SUITE 103,KNOXVILLE,37919,2333,TN,US,Pulmonary Disease,S,E
2,1003013160,GRABENSTEIN,WILLIAM,P,M.D.,M,I,1822 MEMORIAL DR,None,CLARKSVILLE,37043,4605,TN,US,Family Practice,S,E
3,1003013947,OTTO,ROBERT,J,M.D.,M,I,2400 PATTERSON STREET SUITE 100,None,NASHVILLE,37203,2786,TN,US,Orthopedic Surgery,S,E
4,1003017963,TODD,JOSHUA,W,M.D.,M,I,1819 W CLINCH AVE,SUITE 108,KNOXVILLE,37916,2435,TN,US,Cardiology,S,E

In [9]:
query5 = """

with ranked_zp as (
		select
			zip,
			tot_ratio,
			fipscounty,
			rank() over(partition by zip order by tot_ratio desc) as ranked
		from zip_fips
)
	SELECT
		d.drug_name,
		od.year,
        od.overdose_deaths
	FROM prescriber AS pr
	JOIN prescription AS rx 	
		ON pr.npi = rx.npi
	JOIN ranked_zp AS rp 
		ON rp.zip = pr.nppes_provider_zip5
	JOIN population AS p 
		ON p.fipscounty = rp.fipscounty
	JOIN fips_county AS fc 	
		ON fc.fipscounty = p.fipscounty
	JOIN overdose_deaths AS od 
		ON od.fipscounty = fc.fipscounty:: INTEGER
	JOIN drug AS d 
		ON d.drug_name = rx.drug_name
	WHERE fc.state =  'TN' 
		AND d.opioid_drug_flag = 'Y' 
		AND rp.ranked= 1
	GROUP BY d.drug_name, od.year, od.overdose_deaths


"""

In [10]:
with engine.connect() as connection:
    result = connection.execute(text(query5))
    lethal_drugs = pd.DataFrame(result.fetchall(), columns=result.keys())

lethal_drugs

                         drug_name  year  overdose_deaths
0     ACETAMIN-CAFF-DIHYDROCODEINE  2015               21
1     ACETAMIN-CAFF-DIHYDROCODEINE  2015              122
2     ACETAMIN-CAFF-DIHYDROCODEINE  2015              135
3     ACETAMIN-CAFF-DIHYDROCODEINE  2016               19
4     ACETAMIN-CAFF-DIHYDROCODEINE  2016              147
...                            ...   ...              ...
3129                    ZOHYDRO ER  2018               18
3130                    ZOHYDRO ER  2018               30
3131                    ZOHYDRO ER  2018              123
3132                    ZOHYDRO ER  2018              200
3133                    ZOHYDRO ER  2018              218

[3134 rows x 3 columns]

In [14]:
df = lethal_drugs.groupby('drug_name')['overdose_deaths'].sum().reset_index()
df = df.sort_values(by = 'overdose_deaths', ascending = False)
df

                         drug_name  overdose_deaths
1            ACETAMINOPHEN-CODEINE             3602
16                        FENTANYL             3602
17       HYDROCODONE-ACETAMINOPHEN             3602
26             MORPHINE SULFATE ER             3602
35         OXYCODONE-ACETAMINOPHEN             3602
32                   OXYCODONE HCL             3602
36                       OXYCONTIN             3602
43                    TRAMADOL HCL             3602
25                MORPHINE SULFATE             3602
20               HYDROMORPHONE HCL             3564
38              OXYMORPHONE HCL ER             3560
31                        OPANA ER             3535
24                   METHADONE HCL             3524
13                          EMBEDA             3501
14                         ENDOCET             3453
45      TRAMADOL HCL-ACETAMINOPHEN             3419
44                 TRAMADOL HCL ER             3377
9                          BUTRANS             3357
33                OXYCODONE HCL ER             3290
30                      NUCYNTA ER             3269
8             BUTORPHANOL TARTRATE             3225
37                 OXYMORPHONE HCL             3014
29                         NUCYNTA             2906
21                     HYSINGLA ER             2850
18           HYDROCODONE-IBUPROFEN             2808
50                      XTAMPZA ER             2780
19                HYDROMORPHONE ER             2769
7      BUTALBITAL COMPOUND-CODEINE             2540
23                  MEPERIDINE HCL             2375
28                           NORCO             2352
40                        PERCOCET             2166
22                          KADIAN             2140
51                      ZOHYDRO ER             2136
6   BUTALB-CAFF-ACETAMINOPH-CODEIN             2133
39        PENTAZOCINE-NALOXONE HCL             1761
4                    BUPRENORPHINE             1682
10                 CODEINE SULFATE             1632
0     ACETAMIN-CAFF-DIHYDROCODEINE             1344
48                          ULTRAM             1246
2              ASCOMP WITH CODEINE              880
12                       DURAGESIC              752
27                       MS CONTIN              683
47                        ULTRACET              683
34           OXYCODONE HCL-ASPIRIN              324
3                          BELBUCA              268
42                          SUBSYS              219
11                        DILAUDID              194
5   BUTALB-ACETAMINOPH-CAFF-CODEIN              181
15                          EXALGO              164
41                      ROXICODONE               25
46            TYLENOL-CODEINE NO.4               23
49                      VICODIN HP               20

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 52 entries, 1 to 49
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   drug_name        52 non-null     object
 1   overdose_deaths  52 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.2+ KB